* {
    font-family:"Gill Sans MT", "Calibri", "sans-serif";
    font-variant:small-caps;
    box-sizing: border-box;
    position: relative;
}
header {
    font-size: 175%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
h1 {
    font-size: 125%;
}
ul {
    list-style-type: circle;
}

